<%- include('includes/header.ejs') %> 
<link rel="stylesheet" href="../css/product.css">
</head> 

<body>
    <!-- Header section -->
    <%- include('includes/navigation.ejs') %> 
    
    <!-- Main section -->
    <main>
        <form action="/admin/add-product" method="POST" class="product-form">
            <div class="form-control">
                <input type="text" name="title">
            </div>
            <button type="submit">Add Product</button>
        </form>
    </main>
</body>

</html>