<%- include('includes/header.ejs') %> 
</head>

<body>
    <!-- Header section -->
    <%- include('includes/navigation.ejs') %> 

    <main>
        <h1>404 Erorr | URL you try to access is not found!</h1>
    </main>
<%- include('includes/footer.ejs')  %> 