
/************** Header element style ********************/
.main-header{
    width: 100%;/*to take the full width of the page*/
    height: 3.5rem;/*good*/
    background-color: rgb(1, 1, 136);
}
/* we still have some padding and margin on the header,
    lets remove them from the body*/
body{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
/* but we still have top margin from the item list*/
.main-header__item-list{
    list-style: none;
    padding: 0;
    display: flex;
}
/*now lets handle each link*/
.main-header__item{
    padding: 0;
    margin: 0;
    /*add margin to make some space between links*/
    margin: 1rem;
}
.main-header__item a{
    text-decoration: none;
    color: ghostwhite;
    padding: 0.2rem;
}
/* to center our links we need to do that by the nav item itself*/
.main-header__nav{
    height: 100%;/*as its the child of .main-header so it should takes all its height*/
    display: flex;/*this line will center our nav within the header element*/
    align-items: center;/*both lines are very essential to center our nav */
}

/*now lets add some styles for items like:
    a:hover -> when we hover over a linl
    a:active -> when link be clicked and we on its page now
    a.active -> when the link has an active class attached to it in the html code */
.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active{
    color: #f17070;
    border-bottom: lightpink solid 1px;
    font-weight: bolder;
}
/**************************************************************/

/***************** Main element styles *********************/
main{
padding: 1rem;
}
.product-form input{
display: block;/*so it now won't take the full width of its parent*/
border: solid 1.5px #4343bd;
font: inherit; /*so it will use the default font-family of its parent*/
/*to make the input take more width */
width: 90%; /*90 percent of its parent*/
}
button{
font: inherit;
border: 1px solid #4343bd;
}

button:hover{
background-color: white;
color:#4343bd;
font-weight: bolder;
}
/*we need to add some space between the button and the input*/
.form-control{
margin-top: 1rem ;
margin-bottom: 1rem;
}
/*lets now center the form*/
.product-form{
width:20rem;
height: 80%;
margin:auto;
}/*by writing this the form will be centered*/
/*************************************************************/